@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: KoHo;
  font-display: swap;
  src: url("../fonts/KoHo-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Nunito300;
  font-display: swap;
  src: url("../fonts/Nunito-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Nunito600;
  font-display: swap;
  src: url("../fonts/Nunito-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Nunito900;
  font-display: swap;
  src: url("../fonts/Nunito-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
